@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

.employee-slider {
  width: 50vh;
  height: 50vh;
  margin: 0;
  margin: auto;
}

.employee-slider-content {
  width: 50vh;
  margin: auto;
  height: 50vh;
}

.employee-slider-inner {
  width: 50vh;
  margin: auto;
  height: 50vh;
}
